.btn:focus {
  outline: none;
  box-shadow: none;
}

.seller-logo {
  color: #005693;
}

.text-seller {
  color: #db2721;
}

.seller-link {
  text-decoration: underline;
  text-decoration-color: #db2721;
}

.seller-link:hover {
  text-decoration: none;
}

.btn-seller {
  background-color: #db2721;
  border: none;
  color: #ffffff;
  font-size: 0.9em;
  height: 3.2em;
}

.btn-seller:hover {
  background-color: #aa1e19;
  color: #ebe9e9;
}

.btn-seller:focus {
  outline: none;
  box-shadow: none;
  background-color: #db2721;
  color: #ffffff;
}

.btn-previous {
  background: #8b8b8b;
  border: none;
  color: #ffffff;
  font-size: 0.9em;
  height: 3.2em;
}

.btn-previous:hover {
  background: rgb(110, 110, 110);
  color: #e6e6e6;
}

.btn-previous:focus {
  outline: none;
  box-shadow: none;
  background: #8b8b8b;
  color: #ffffff;
}

/*handle multiple step form*/

/* Mark input boxes that gets an error on validation: */
.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4caf50;
}

/*map style*/
#map {
  height: 300px;
}

/*email verification successful styles*/
.mx-continue {
  margin: 0 7em;
}

/*sign in styles*/
.text-forgot {
  color: #008dda;
}

.text-create-link:hover {
  color: #db2721;
  text-decoration: underline;
  text-decoration-color: #db2721;
}

/*homepage styles*/

/*dashboard styles*/
.h-full {
  height: 100vh;
}

.px-btns {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.bg-nav {
  background: #008dda;
}

.bg-nav .dashboard-nav .nav .nav-link {
  color: #ffffff;
  border: none;
  background: none;
  border-bottom-left-radius: none;
  border-top-left-radius: none;
}

.bg-nav .dashboard-nav .nav .nav-link:hover {
  color: #343a40;
}

.bg-nav .dashboard-nav .nav .active {
  color: #343a40;
  background: #ffffff;
  border-bottom-left-radius: 28px;
  border-top-left-radius: 28px;
  border: none;
}

.bg-grey {
  background: #eeeeee;
}

.blank {
  height: 159px;
}

.border-grey {
  border: 1px solid #eeeeee;
}

.btn-product {
  background: #db2721;
  color: #ffffff;
}

.btn-product:hover {
  color: #ffffff;
  cursor: auto;
}

.btn-white {
  background: #ffffff;
  border: 1px solid #eeeeee;
  color: #8b8b8b;
  font-size: 0.8em;
  height: 50px;
}

.btn-white:hover {
  background: #8b8b8b;
  color: #ffffff;
}

.btn-add {
  background: #008dda;
  color: #ffffff;
  font-size: 0.8em;
  height: 50px;
}

.btn-add:hover {
  background: #0170ac;
  color: #e7e7e7;
}

table tbody tr {
  border-bottom: 1px solid #8b8b8b;
}

.edit:hover,
.delete:hover {
  cursor: pointer;
  transform: scale(1.2);
}

#addForm .modal-dialog {
  max-width: 73%;
  margin-left: 26%;
}

#addForm .w-modal {
  width: 70%;
}

.input-hide {
  display: none;
}

.hide {
  display: none;
}

#output {
  width: fit-content;
}

.imageFile {
  height: 25vh;
  width: 13vw;
}

.imageLabel {
  height: 25vh;
  width: 13vw;
}

.imageLabel:hover {
  cursor: pointer;
}

/*dashboard mobile*/
.side-bar {
  width: 15em;
  padding-left: 0.5em;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  transition: 0.3s;
}

.reduce {
  width: 5em;
}

#sideBar .openCloseBtn {
  font-size: 3em;
}

.w-price {
  width: 13%;
}

#addFormMobile .imageFile {
  height: 25vh;
  width: 30vw;
}

#addFormMobile .imageLabel {
  height: 25vh;
  width: 30vw;
}

/*others in responsive.css*/
@media screen and (min-width: 420px) {
  .px-btns {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

@media screen and (min-width: 720px) {
  #addFormMobile .imageFile {
    height: 25vh;
    width: 28vw;
  }

  #addFormMobile .imageLabel {
    height: 25vh;
    width: 28vw;
  }

  #addFormMobile .modal-dialog .modal-content {
    width: 600px;
  }
}
